/* Modo Oscuro (Predeterminado1) */

:root {
    --primary-color: #3b82f6;
    --primary-dark: #2563eb;
    --secondary-color: #8b5cf6;
    --text-color: #f8fafc;
    --text-light: #94a3b8;
    --bg-color: #0f172a;
    --bg-secondary: #1e293b;
    --card-bg: #1e293b;
    --border-color: #334155;
    --project-color: #111b2b;
    --primary-header-color: #1b1b2f 0%;
    --secondary-header-color: #16213e 80%;
    --social-bg:  rgba(255, 255, 255, 0.1);
    --social-icon: #fff;
    --tech-html: rgba(227, 79, 38, 0.1);
    --tech-flutter-text: #61cafa;
    --tech-js-text:#f7df1e;
    --tech-firebase-text: #ffa724;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.25), 0 2px 4px -1px rgba(0, 0, 0, 0.15);
    --transition: all 0.3s ease;
}

/* Modo Claro */

html[data-theme="light"] {
  --primary-color: #3b82f6;        
  --primary-dark: #2563eb;
  --secondary-color: #7c3aed;
  --text-color: #0f172a;           
  --text-light: #475569;
  --bg-color: #f8fafc;             
  --bg-secondary: #e2e8f0;
  --card-bg: #eef1f6;
  --border-color: #cbd5e1;
  --project-color: #cdd5e2;
  --primary-header-color: #fefefe 0%;
  --secondary-header-color: #e2e8f0;
  --social-bg:  rgba(255, 255, 255, 0.1);
  --social-icon: #323e51;
  --tech-html: rgba(251, 97, 55, 0.1);
  --tech-flutter-text: #117886;
  --tech-js-text:#a79417;
  --tech-firebase-text: #de6531;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
